<!-- task_list.html -->

{% extends "core/base.html" %}

{% block title %} List {% endblock title %}

{% block content %}

<div class="mt-2 px-6 py-8 bg-gray-100 rounded-xl">
    <h1 class="mb-12 text-2xl text-center font-bold">Tabel Report Pekerjaan</h1>
    <form action="{% url 'core:work_search' %}" method="GET">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" class="rounded-xl border mx-2 my-1 p-2" name="start_date">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" class="rounded-xl border mx-2 my-1 p-2" name="end_date">
        <label>Status Kategori:</label>
        <select name="status" class="rounded-xl border mx-2 my-1 p-2">
            <option value="">Semua Status</option>
            <option value="Selesai">Selesai</option>
            <option value="Pending">Pending</option>
            <option value="Tahap Rencana">Tahap Rencana</option>
        </select>
        <input type="submit" class="px-3 py-1 text-lg font-semibold bg-blue-500 text-white rounded-md hover:bg-blue-700" value="Filter">        
    </form>

    {% comment %} Adding an excel button {% endcomment %}
    <button class="px-3 py-1 text-lg font-semibold bg-blue-500 text-white rounded-md hover:bg-blue-700" method="GET"><a href="{% url "core:download_excel" %}">Download Excel</a></button>
   
    <button class="px-3 py-1 text-lg font-semibold bg-blue-500 text-white rounded-md hover:bg-blue-700" method="GET"><a href="{% url "core:cetak" %}">Cetak</a></button>

    <div class="flex justify-center mt-2">
        <table class="border-collapse border border-gray-200">
            <thead>
                <tr>
                    {% comment %} <th>ID</th> {% endcomment %}
                    <th class="border border-gray-200 p-4">Jam</th>
                    <th class="border border-gray-200 p-4">Tanggal</th>
                    <th class="border border-gray-200 p-4">Jenis Pekerjaan</th>
                    <th class="border border-gray-200 p-4">Unit</th>
                    <th class="border border-gray-200 p-4">Pelaksana</th>
                    <th class="border border-gray-200 p-4">Status</th>
                    <th class="border border-gray-200 p-4 w-auto">Keterangan</th>
                    <th> </th>
                    <th> </th>
                    <!-- Add more headers for additional columns -->
                </tr>
            </thead>
            <tbody>
                {% for report in data %}
                <tr>
                    {% comment %} <td>{{ report.id }}</td> {% endcomment %}
                    <td class="border border-gray-200 p-4">{{ report.jam }}</td>
                    <td class="border border-gray-200 p-4">{{ report.tanggal }}</td>
                    <td class="border border-gray-200 p-4">{{ report.jenis_pekerjaan }}</td>
                    <td class="border border-gray-200 p-4">{{ report.user}}</td>
                    <td class="border border-gray-200 p-4">{{ report.pelaksana }}</td>
                    <td class="border border-gray-200 p-4">{{ report.status }}</td>
                    <td class="border border-gray-200 p-4 w-auto text-justify">{{ report.keterangan }}</td>
                    <td class="border border-gray-200 px-1"><a href="{% url 'core:work_update' report.pk %}" class="px-4 py-1 text-base font-semibold bg-teal-500 text-white rounded-md hover:bg-teal-700">Edit</a></td>
                    <td class="border border-gray-200 px-1"><form action="{% url 'core:work_delete' report.pk %}" class="px-3 py-1 text-base font-semibold bg-red-500 text-white rounded-md hover:bg-red-700">
                        {% csrf_token %}
                        <button type="submit">Hapus</button>
                    </form></td>
                    
                    <!-- Render additional columns here -->
                </tr>                    
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>


{% endblock content %}